*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

html{
    scroll-behavior: smooth;
    background-image: url("../img/temp-about-bg.png");
    background-size:cover;
}

h1{
    font-size:5vw;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: baseline;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.266);
}

/* ROBYN.woudstra text in top left */
.logo-text{
    margin-top: 15px;
    padding-left: 0.75em;
    font-size: 1.5em;
    font-weight: 800;
}
.logo-subtext{
    padding-left: 3px;
    font-size: 1.5em;
    font-weight: 500;
}

.menu{
    position: absolute;
    right: 0px;
    margin-top: 25px;
}

.list{
    display: flex;    
}

/* items in nav bar list */
.list-item a{
    color: black;
    font-size: 1.25em;
    font-weight: 600;
    transition: 0.4s;
    margin-right: 2em;
}
.list-item a:hover{
    color: rgb(148, 184, 70);
}

/* highlighted list item (current page) */
.list-item-highlight a{
    color: black;
    font-size: 1.25em;
    font-weight: 600;
    transition: 0.4s;
    margin-right: 2em;
    text-decoration: underline;
}
.list-item-highlight a:hover{
    color: rgb(148, 184, 70);
}

.icon{
    padding-right: 2em;
    position: relative;
}

/* row to hold columns */
.row:after{
    width: 100%;
    height: fit-content;
    content: "";
    display: table;
    clear: both;
}

/* left column */
.left-col{
    position: relative;
    float: left;
    width: 50%;
    margin-top: 80px;
    padding: 0 10vw;
}

/* right column */
.right-col{
    float: left;
    width: 50%;
    margin-top: 80px;
    padding: 0 20px;
    text-align: left;
}

/* icons around main image with hover effect */
.icon1{
    position: absolute;
    top: 5vw;
    left:7vw;
    border: 1px blue solid;
    width: 6vw;
}
.icon2{
    position: absolute;
    top: -1.5vw;
    left: 16vw;
    border: 1px green solid;
    width: 6vw;
}
.icon3{
    position: absolute;
    top: -1.5vw;
    left: 28vw;
    border: 1px red solid;
    width: 6vw;
}
.icon4{
    position: absolute;
    top: 5vw;
    left: 37vw;
    border: 1px yellow solid;
    width: 6vw;
}

@media only screen and (max-width: 600px) {
    /* mobile devices */
    .left-col, .right-col {
      width: 100%;
    }
}