*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

html{
    scroll-behavior: smooth;
    background-image: url("../img/temp-about-bg.png");
    background-size:cover;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: baseline;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.266);
}

.logo-text{
    margin-top: 15px;
    padding-left: 0.75em;
    font-size: 1.5em;
    font-weight: 800;
}

.logo-subtext{
    padding-left: 3px;
    font-size: 1.5em;
    font-weight: 500;
}

.menu{
    position: absolute;
    right: 0px;
    margin-top: 25px;
}

.list{
    display: flex;    
}

.list-items a{
    color: black;
    font-size: 1.25em;
    font-weight: 600;
    transition: 0.4s;
    margin-right: 2em;
}

.list-items a:hover{
    color: rgb(148, 184, 70);
}

.icon{
    padding-right: 2em;
    position: relative;
}

.line-menu{
    height: 28px;
    width: 32px;
    display: none;
}

.layer1, .layer2, .layer3{
   background: black;
   height: 4px;
   margin-top: 4px;
   width: 100%;
   border-radius: 10px;
}

.left-col {
    position: relative;
    float: left;
    width: 50%;
    margin-top: 80px;
    padding: 0 10vw;
}
.icon1 {
    position: absolute;
    top: 5vw;
    left:7vw;
    border: 1px blue solid;
}
.icon2 {
    position: absolute;
    top: -1.5vw;
    left: 16vw;
    border: 1px green solid;
}
.icon3 {
    position: absolute;
    top: -1.5vw;
    left: 28vw;
    border: 1px red solid;
}
.icon4 {
    position: absolute;
    top: 5vw;
    left: 37vw;
    border: 1px yellow solid;
}

.right-col {
    float: left;
    width: 50%;
    margin-top: 80px;
    padding: 0 20px;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    /* mobile devices */
    .left-col, .right-col {
      width: 100%;
    }
}